.product-text{
    text-align: center;
    font-size: 50px;
}
.product-card{
   
    box-shadow: 1px 2px 20px 5px gray;
    height: 730px;
    width: 550px;
    margin:20px ;
   }
   .product-text{
    text-align: center;
   padding: 0 10px;
   margin-top: 30px;
   }
   .product-desc{
    text-align: justify;
    margin-left:30px;
    margin-right: 30px;
    font-size: 22px;
   }
   .product-price{
    text-align: justify;
    margin-left:30px;
    margin-right: 30px;
   }
.product-img{
    height: 350px;
    width: 510px;
    margin: 10px 0 10px 18px;

}
.delete-btn{
   position: absolute; 
   margin-left: 220px;
   padding: 0 20px;
   height: 30px;
   font-size: 20px;
}
.containers{
    display: flex;
 flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.update-btn{
    margin-left: 350px;
    font-size: 20px;
    text-decoration: none;
}
.view-btn{
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
}